@using MinProject.Views.GenerateDynamicdataViews;
@model IndexPage



<div class="row">
    <table class="table table-borderless col-6" id="gen-table">
        <thead>
            <tr>
                <th>Data Type </th>
                <th>Column Name </th>
                <th>Examples </th>
                <th>Options</th>
            </tr>
        </thead>
        <hr />
        <tbody>
        </tbody>
    </table>

</div>


<div class="col-1">
    <div class="row-cols-1">
        <form id="gen-form">
            <div class="form-group">
                <input type="number" class="form-control" min="0" max="10" autocomplete="off" autofocus name="numberInput" />
            </div>
            <div class="form-group mt-4">
                <input type="submit" class="btn btn-outline-primary" style="border-width: thin; border-radius: 5px;" value="Add" />
            </div>
        </form>
    </div>
</div>